<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#">
                <img src="assets/imgs/pic_transparent.png" alt="logo" width="60px">
            </a>
            <h2>Ubuntu Boot</h2>
        </div>

        <ul class="nav_menu">
            <li class="nav_item"><a href="#" class="nav_link">Classes</a></li>
            <li class="nav_item"><a href="#" class="nav_link">Codeland</a></li>
            <li class="nav_item"><a href="#" class="nav_link">Exercises</a></li>
        </ul>

        <div class="hamburguer">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
  
    </nav>
</header>