@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
/* font-family: 'Cabin', sans-serif; */

*{padding: 0;margin: 0; box-sizing: border-box;  font-family: 'Cabin', sans-serif;}

header{
    background-color: #eeeeee;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

footer{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 80px;
    color: hsl(49, 100%, 49%);
}

body{
    background-color: #17172b;
}
