.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    background-color: #121321;
}

.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav_link{
    transition: 0.7 ease;
}

.nav_link:hover{
    color: hsl(49, 100%, 49%);
    transition: all 0.5s;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fafaff;
}


.logo{
    width: 190px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}


@media(max-width: 578px){
    .hamburguer{
        display: block;
    }

     .hamburguer.active .bar:nth-child(2){
        opacity: 0;
     }

     .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        background-color: hsl(49, 100%, 49%);
     }

     .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg); 
        background-color: hsl(49, 100%, 49%);
     }

     .nav_menu{
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: #121321;
        width: 100%;
        text-align: center;
        transition: 0.3s;
     }


     .nav_item{
        margin: 16px 0;
        /* opacity: 0;
        transition: 0.8s; */
     }


     .nav_menu.active{
        left: 0;
     }

/* 
     .nav_link{
        opacity: 0;
        transition: 1s;
     }

 

     
     .nav_item.active{
        opacity: 1;
     }

     .nav_link.active{
        opacity: 1;
     } */


}